@page "/"
@inject IJSRuntime JS
@using MyWeatherApp_WeatherAPI.Models
@using Newtonsoft.Json
@using RestSharp

<PageTitle>My Weather App</PageTitle>

<head>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #d3dbda;
        }

        h1 {
            color: black;
        }

        #WeatherArea {
            border: 3px solid #bdbdbd;
            padding: 2em;
            margin: 1em;
            border-radius: 0.5em;
        }
    </style>
</head>

<br />
<br />
<h1 class="fw-bold text-center">A Simple Weather App</h1>
<br />
<br />

<div class="d-flex justify-content-center">
    <div class="col-4">
        <form class="d-flex justify-content-center">
            <input class="form-control me-2 shadow" type="search" placeholder="Search by City Name" aria-label="Search" @bind="cityName">
            <button class="btn btn-success shadow" type="button" @onclick="SearchWeather">Search</button>
        </form>
    </div>
</div>

<br />
<br />

@if (WeatherData.Any())
{

    @foreach (var data in WeatherData)
    {
        <div id="WeatherArea">

            <div class="d-flex justify-content-between align-items-center">
                <h4 class="fw-bold">Current Weather Info</h4>
                <h6 class="fw-bold">Last updated: @data.current.last_updated</h6>
            </div>
            <br />


            <div class="row">
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card shadow">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="media d-flex">
                                    <div class="media-body text-left">
                                        <h3 class="text-black fw-bold">@data.current.temp_c ℃</h3>
                                        <span>Temperature </span>
                                    </div>
                                    <div class="align-self-center">
                                        <img src="https://static-00.iconduck.com/assets.00/thermometer-celsius-icon-1669x2048-7lousfb6.png" width="65px" height="75px" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card shadow">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="media d-flex">
                                    <div class="media-body text-left">
                                        <h3 class="text-black fw-bold">@data.current.condition.text</h3>
                                        <span>Condition </span>
                                    </div>
                                    <div class="align-self-center">
                                        <img src="@data.current.condition.icon" width="75px" height="75px" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card shadow">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="media d-flex">
                                    <div class="media-body text-left">
                                        <h3 class="text-black fw-bold">@data.current.wind_kph km/h</h3>
                                        <span>Wind Speed </span>
                                    </div>
                                    <div class="align-self-center">
                                        <img src="https://cdn-icons-png.freepik.com/512/439/439440.png" width="75px" height="75px" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card shadow">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="media d-flex">
                                    <div class="media-body text-left">
                                        <h3 class="text-black fw-bold">@data.current.humidity %</h3>
                                        <span>Humidity </span>
                                    </div>
                                    <div class="align-self-center">
                                        <img src="https://cdn-icons-png.flaticon.com/512/4148/4148388.png" width="75px" height="75px" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

            <br />
            <br />
            <br />

            }
            }



@code {
    public List<WeatherDataClass.Root> WeatherData { get; set; } = new List<WeatherDataClass.Root>();

    private string cityName { get; set; } = "Kandy";

    protected override async Task OnInitializedAsync()
    {
        await SearchWeather();
    }

    private async Task SearchWeather()
    {
        try
        {
            var options = new RestClientOptions("http://api.weatherapi.com/v1")
                {
                    MaxTimeout = -1,
                };
            var client = new RestClient(options);
            var request = new RestRequest($"/current.json?key=aa6902796cd14c6990050852240810&q={cityName}&aqi=no", Method.Get);
            RestResponse response = await client.ExecuteAsync(request);

            if (response.IsSuccessful)
            {
                var myDeserializedClass = JsonConvert.DeserializeObject<WeatherDataClass.Root>(response.Content);
                WeatherData = new List<WeatherDataClass.Root> { myDeserializedClass };
            }
            else
            {
                await JS.InvokeVoidAsync("alert", " \u26A0 Invalid city name. Please check and try again. ");
            }
        }
        catch
        {
            await JS.InvokeVoidAsync("alert", " \u26A0 Error ! ");
        }

    }

}